<%= form_with model: workout, class: "workout-form" do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true, maxlength: 50 %>

  <%= form.label :description %>
  <%= form.text_area :description, required: true, maxlength: 500 %>

  <%= form.label :workout_type, "Workout Type" %>
  <%= form.select :workout_type, Constants::WORKOUT_TYPES %>

  <!-- TODO: This could potentially be optimized better but this will do -->
  <% workout_tags = workout.tags.all %>
  <% Tag.all.each do |tag| %>
    <div class="workout-checkbox-entry">
      <%= checkbox_tag "tag_ids[]", tag.id, workout_tags.include?(tag) %>
      <%= label_tag tag.title %>
    </div>
  <% end %>
 
  <%= form.submit %>
<% end %>
