<h1><%= workout.name %></h1>

<!-- TODO: make the divs reusable partials -->
<div
  data-controller="linechart"
  data-linechart-labels-value="<%= labels.to_json %>"
  data-linechart-numbers-value="<%= data.to_json %>"
  data-linechart-unit-value="<%= workout.unit %>"
  data-linechart-highest-attempts-value="<%= highest_attempts.to_json %>">
  <canvas id="line-chart" data-linechart-target="myChart" width="800" height="450"></canvas>
</div>

<div
  data-controller="highest-attempts-linechart"
  data-highest-attempts-linechart-labels-value="<%= labels.to_json %>"
  data-highest-attempts-linechart-unit-value="<%= workout.unit %>"
  data-highest-attempts-linechart-highest-attempts-value="<%= highest_attempts.to_json %>">
  <canvas id="highest-attempts-line-chart" data-highest-attempts-linechart-target="highestAttemptsChart" width="800" height="450"></canvas>
</div>

<table>
  <caption>History</caption>
  <thead>
    <tr>
      <th scope="col">Session</th>
      <th scope="col">Volume</th>
      <th scope="col">Highest Attempt</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @workout_instances_desc.each do |workout_instance| %>
      <tr>
        <th scope="row"><%= link_to workout_instance.workout_session.title, workout_session_path(workout_instance.workout_session, anchor: dom_id(workout_instance)) %></th>
        <td><%= workout_instance.volume %> <%= workout.unit %></td>
        <td><%= workout_instance.highest_attempt %> <%= workout.unit %></td>
        <td><%= workout_instance.workout_session.date_completed.strftime("%a, %b %-d %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
