<h1>
  <%= @archived ? render("icons/archive") : render("icons/barbell") %>
  My <%= "Archived " if @archived %>Exercises
</h1>

<% if !@archived %>
  <div class="new-workout-controls">
    <% if @templates.any? %>
      <%= link_to new_from_templates_workouts_path, class: "basic-button-full" do %>
        <%= render "icons/template" %>
        <span>Create From Template</span>
      <% end %>
    <% end %>


    <%= link_to new_workout_path, class: "basic-button-full" do %>
      <%= render "icons/plus" %>
      <span>Create Custom</span>
    <% end %>

    <%= link_to workouts_path(archived: true), class: "basic-button-full" do %>
      <%= render "icons/archive" %>
      <span>Show Archived</span>
    <% end %>
  </div>
  <% else %>
    <%= link_to workouts_path, class: "basic-button-full" do %>
      <%= render "icons/barbell" %>
      <span>Back to Exercises</span>
    <% end %>

<% end %>


<%= render "workouts/workout_cards", workouts: @workouts %>
