<div class="session-card" id="<%= dom_id(workout_session, :card) %>">
  <div class="session-card-top">
    <%= link_to workout_session_path(workout_session) do %> 
      <h1><%= workout_session.title %></h1>
      <%= render "icons/arrow_right" %>
    <% end %>
  </div>

  <ul class="session-card-workouts">
    <% workout_session.workout_instances.limit(5).each do |instance| %>
      <li>
        <%= instance.name %>
      </li>
    <% end %>

    <li>
      <% if workout_session.workout_instances.length > 5 %>
        ... and <%= workout_session.workout_instances.length - 5 %> more
      <% end %>
    </li>
  </ul>
  <div class="session-card-bottom">
    <%= button_to duplicate_workout_session_path(workout_session), method: :post, class: "basic-card-button" do %>
      <%= render "icons/duplicate" %>
    <% end %>
    <%= button_to workout_session_path(workout_session), method: :delete, class: "red-button" do %>
      <%= render "icons/delete" %>
    <% end %>
    <% if workout_session.completed? %>
      <% if workout_session.date_completed == Date.today %>
        <em style="color: var(--color-notice)">&#10003; Completed Today!</em>
      <% else %>
        <em>&#10003; <%= workout_session.date_completed.strftime("%a, %b %-d %Y") %></em>
      <% end %>
    <% end %>
  </div>
</div>
