<%= render "workout_sessions/title", workout_session: workout_session %>
<div class="workout-instances" id="<%= dom_id(workout_session, :workouts) %>">
  <%= render "workout_instances/workout_instances", workout_instances: workout_session.workout_instances.order(order_index: :asc) %>
</div>

<br>

<% if !workout_session.completed? %>
  <%= render "workout_instances/new_workout_instance_button", workout_session: workout_session %>
  <br>
<% end %>

<%= render "workout_sessions/complete_workout_session", workout_session: workout_session %>

<br>
<%= button_to "Delete Session", workout_session_path(workout_session), method: :delete, data: { turbo: false }, class: "red-button" %>
