<%= render "workout_sessions/title", workout_session: workout_session %>

<div class="workout-instances" id="<%= dom_id(workout_session, :workouts) %>">
  <%= render "workout_instances/workout_instances", workout_instances: workout_session.workout_instances %>
</div>

<br>

<% if !workout_session.completed? %>
  <%= turbo_frame_tag combined_dom_id(workout_session, WorkoutInstance.new) do %>
    <%= link_to "Add Workout Instance", new_workout_session_workout_instance_path(workout_session), class: "basic-button" %>
  <% end %>
<% end %>

<%= render "workout_sessions/complete_workout_session", workout_session: workout_session %>

<h2><%= workout_session.user.email_address %></h2>

<%= button_to "Delete", workout_session_path(workout_session), method: :delete, data: { turbo: false } %>
