<%= render "layouts/flash" %>
<h1><%= link_to "Workout Session #{workout_session.id}", workout_session_path(workout_session) %></h1>
<h2>Add workout</h2>

<div id="<%= dom_id(workout_session, :workouts) %>">
  <%= render "workout_instances/workout_instances", workout_instances: workout_session.workout_instances %>
</div>

<% if !workout_session.completed? %>
  <%= link_to "Add Workout Instance", 
    new_workout_session_workout_instance_path(workout_session),
    data: { turbo_frame: combined_dom_id(workout_session, WorkoutInstance.new) } 
  %>
<% end %>

<%= turbo_frame_tag combined_dom_id(workout_session, WorkoutInstance.new) %>

<div id="<%= dom_id(workout_session, :complete) %>"
  <%= render "workout_sessions/complete_workout_session", workout_session: workout_session %>
</div>

<h2><%= workout_session.user.email_address %></h2>
