<p><%= Current.user.email_address %><p>
<%= link_to "My Workouts", workouts_path %>
<%= render "workout_sessions/form", workout_session: WorkoutSession.new %>

<h1>Upcoming Sessions</h1>
<%= render "workout_sessions/session_cards", workout_sessions: @workout_sessions.filter { |session| !session.completed? } %>

<h1>Completed Sessions</h1>
<%= render "workout_sessions/session_cards", workout_sessions: @workout_sessions.filter { |session| session.completed? } %>
