<% if Current.user.workouts.any? %>
  <%= render "workout_sessions/new_workout_session_button" %>
<% else %>
  <p><b>You currently have no exercises. You'll need to create some exercises to use for your sessions! To get started, go to the <%= link_to "Exercises", workouts_path %> <%= render "icons/barbell" %> page</b></p>
<% end %>

<h1>Upcoming Sessions</h1>

<% if !@upcoming_workout_sessions.any? %>
  <div id="no-sessions-notice">
    <p><em id="no-sessions-notice">You have no workout sessions coming up!</em></p>
    <p><em>Duplicate <%= render "icons/duplicate" %> an existing workout session or create a new one by selecting "New workout session" above. Note that you need to have created at least one <%= link_to "exercise", workouts_path %> before being able to do so.</em></p>
  </div>
<% end %>
<%= render "workout_sessions/session_cards", group_id: "upcoming", workout_sessions: @upcoming_workout_sessions %>
<hr>
<h1>Completed Sessions</h1>
<h2>This week</h2>
<%= render "workout_sessions/session_cards", group_id: "completed", workout_sessions: @completed_sessions_this_week %>
<h2>Last week</h2>
<%= render "workout_sessions/session_cards", group_id: "completed-last-week", workout_sessions: @completed_sessions_last_week %>
<h2>2 weeks ago +</h2>
<%= render "workout_sessions/session_cards", group_id: "completed-long-ago", workout_sessions: @completed_sessions_long_ago %>
