<h1><%= workout_instance.workout.name %></h1>

<%= render "workout_sets/workout_sets", workout_instance: workout_instance %>
<% if !workout_instance.workout_session.completed? %>
  <%= link_to "Add Set", new_workout_instance_workout_set_path(workout_instance), data: { turbo_frame: combined_dom_id(workout_instance, WorkoutSet.new) } %>
  <%= button_to "Delete Workout", workout_instance_path(workout_instance), method: :delete %>
<% end %>

<%= turbo_frame_tag combined_dom_id(workout_instance, WorkoutSet.new) %>
