<div class="workout-instance" id="<%= dom_id(workout_instance) %>">
  <div class="workout-instance-title">
    <%= link_to workout_instance.workout.name, workout_path(workout_instance.workout) %>
    <% if !workout_instance.workout_session.completed? %>
      <%= button_to "Delete Workout", workout_instance_path(workout_instance), method: :delete %>
    <% end %>
  </div>

  <%= render "workout_sets/workout_sets", workout_instance: workout_instance %>

  <div class="workout-instance-controls">
    <% if !workout_instance.workout_session.completed? %>
      <%= turbo_frame_tag combined_dom_id(workout_instance, WorkoutSet.new) do %>
        <%= link_to "Add Set", new_workout_instance_workout_set_path(workout_instance), class: "basic-button" %>
      <% end %>
    <% end %>
  </div>
</div>
