<nav class="navbar">
  <ul>
    <% if authenticated? %>
      <li>
        <%= link_to root_path, class: "basic-button" do %>
          <%= render "icons/home" %>
          <span>Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to workouts_path, class: "basic-button" do %>
          <%= render "icons/barbell" %>
          <span>Workouts</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_from_templates_workouts_path, class: "basic-button" do %>
          <%= render "icons/template" %>
          <span>Templates</span>
        <% end %>
      </li>
      <li class="nav-elem-right">
        <%= link_to edit_user_path(Current.user), class: "basic-button" do %>
          <%= render "icons/user" %>
          <span>Account</span>
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_config_path(Current.user.user_config), class: "basic-button" do %>
          <%= render "icons/settings" %>
          <span>Settings</span>
        <% end %>
      </li>
      <li>
        <%= button_to session_path, method: :delete do %>
          <%= render "icons/logout" %>
          <span>Log out</span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_session_path, class: "basic-button" do %>
          <span>Log in</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_path, class: "basic-button" do %>
          <span>Register</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
